.main {

height:800px;
width:100%;
background-color: rgb(243, 9, 118);




}

.btn{
    background-color: rgb(155, 20, 125);
    margin: 60px;
}
.btn2
{
    background-color: rgb(155, 20, 125);
    margin: 60px;
}

/* .middle{
width:70%;
height:50px;
margin-left: 22px;
background-color: rgb(83, 13, 117);
margin-top: 5px; */




.head{

    margin-left: 25px;
    margin-top: 40px;

}


.center{

    width:200px;
    height:80px;
    margin-left:100px;
    background-color: blanchedalmond;
    font-size: 38pt;
    color: rgb(93, 73, 48)


}

h1, h2 {
    color: cornflowerblue;
}

footer {

    background-color: rgb(243, 9, 118);

}





.answers{
  display: block;
  margin-right: 20px;
  font-size: 40px;

}
