#main {

height:600px;
width:100%;
background-color: rgb(105, 6, 52);


}

#start {
    font-size:30pt;
    color: darkmagenta;
}


#timer {
text-align: center;
font-size: 30px;
background-color: rgb(200, 180, 211);
}



header {
text-align: center;
font-size: 60pt;
background-color: rgb(105, 6, 52);


}


#quiz {
     background-color: rgb(82, 233, 220);
    font-size: 30pt;
    color: rgb(93, 73, 48)
}

h1, h2 {
    color: cornflowerblue;
}

footer {
    font-size: 30pt;
    background-color: rgb(243, 9, 118);
    text-align: center;
    font-family: 'Franklin Gothic Medium';
    min-height: 90px;
    
}


#submit {
    font-size:30pt;
    color: darkmagenta;
}

#results {

    text-align: center; 
    font-display: 60pt;
    color: greenyellow;
}
